body {
	padding: 0;
	margin: 0;
	height: 100%;
}

header {
	background: #545454;
	text-align: center;

}

header img {
	position: relative;
	bottom: 0;
	width: 200px;
	height: 200px;
}

.round {
	border-radius: 50%;	
	object-fit: cover;
	transform: translateY(50%);
}

h1 {
	text-align: center;
	margin-top: 120px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 6px;
	font-weight: 400;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;	
	color: rgba(0, 0, 0, 0.5)
}

.center {
	text-align: center;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5)
}

div {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}

li {
	font-weight: bold;
}
li:not(:last-child) {
	margin-bottom: 20px
}
code {
	background-color: rgba(0, 0, 0, 0.1);
}

main {
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}



.content {
	display: flex;
	box-sizing: border-box;
}

#right {
	
	padding: 10px 0 0 40px;
}

#left {
	
	padding: 10px 0 0 40px;
}

#left h2 {
	margin: 0 0 10px 0;
}

#right h2 {
	margin: 0 0 10px 0;
}

footer{
		text-align: center;
		background-color: #545454;
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
}



ul {
	padding-left: 20px;
}